body {
    font-family: 'Poppins', sans-serif;
    background-color: White;
    margin: 0;
    padding: 0;
}

.Control_Usuarios_Encabezado {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;

}

.Control_Usuarios_Botones_Encabezado{
    display: flex;
    align-items: block;
    padding-right: 25px;
    width: auto;

    height: 100%;
}

.Control_Usuario_Buscar{
    display: flex;
    align-items: center;
}

.Control_Usuarios_Encabezado input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Control_Usuarios_Filtrar {
    background: #b0b0b0;
}

.Control_Usuarios_Añadir_Usuarios {
    background: black;
    color: white;
}
.Control_Usuario_Contenedor_Secundario {
    width: 100%;
    height: 100%;
}
table {
    width: 100%;
    margin-top: 25px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background: #a0a0a0;
    text-align: left;
}

.Control_Usuarios_Contenedor_Principal{
    width: 100%;
    height: 100%;
}
@media (max-width: 800px) {
    .Control_Usuarios_Contenedor_Principal{
        width: 100%;
        height: 100%;
    }
    .Control_Usuario_Contenedor_Secundario {
        display: block;
        flex-direction: column;
        width: 100%;
        height:auto;
    }
    .Control_Usuario_Encabezado{       
        align-items: column;
        background: #D9D9D9;
        border-radius: 5px;
        width: fit-content;
        height: auto;
    }.Control_Usuario_Buscar{
        display: flex;
        justify-content: column;
        
    } .Control_Usuarios_Botones_Encabezado{
        width: auto;
        height:auto;
        justify-content: space-between;
        display: block; 
    }
}

