a:-webkit-any-link{
    text-decoration: none;
    color: black;
}
body{
 margin: 0px;
 position: relative;
 scrollbar-color: #787878 #ffffff;
 scrollbar-width: thin;
 overflow-y: auto;
 font-family: 'Poppins', sans-serif;
}

/*paguina home*/
#slider_principal{
    padding-top: 120px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0.7) 100% 100%),url(../img/Parque_montes.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: left top;
    
}
.filtro_home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(246, 246, 246, 1); /* Blanco con 50% de opacidad */
    opacity: 0.5;
    
}
.contenido_home{
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Mantiene el texto por encima */
    color: black;
}
.titulo_home{
    margin-bottom: 120px;
    margin-left: 30px;
    p{
        font-size: 24px;
    }
    h1{
        margin-top: -20px;
        font-size: 80px;
    }
    .btn {
        background-color: #D9D9D9;
        width: 100px;
        padding: 12px 25px;
        border: none;
        border-radius: 8px;
        font-size: 25px;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    
    .btn:hover {
        background-color: #b4b4b4;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }
}

.botones_menu_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 170px;
    p{
        text-align: center;
    }

    .btn_menu_principal{
        font-size: 50px;
        background-color: #D9D9D9;
        width: 100%; 
        padding: 12px;
        border-radius: 100px;
        cursor: pointer;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    .btn_menu_principal:hover{
        background-color: #b4b4b4;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }
   
}

.subcontenido_home{
    margin-top: -105px;
    background-color: #0AB4FD;
    width: auto;
    height: auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.subcontenido_home_countainer{
    margin-top: 100px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subcontenido_home_texto{
    background-color: #D9D9D9;
    width: 50%;
    padding: 15px;
}
.img_subcontenido_home{
    flex: 1;
    width: 50%;
    margin-left: 20px;
}
.img_subcontenido_home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*perfil de usuario */

.bloqueDeFondo{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding-bottom: 40px;
    
}
.foto_perfil{
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 25px;
}
.titulos_perfil_usuario{
    margin-top: 70px;
    h1{
        font-size: 60px;
        color: black;
        display: flex;
        justify-content: center;
        text-align: center;
    }h2{
        color: black;
    }h3{
        color: black;
        margin-left: 120px;
        text-decoration: underline;
    }
}
.foto_y_titulos{
    justify-content: center;
    display: flex;
}
.formulario_usuario{
    margin-left: 20%;
    text-align: left;
    margin-top: 25px;
    color: black;
    font-size: 20px;
    padding-bottom: 25px;
    input{
     width: 70%;
     font-size: 30px;
    }
}
.formulario_usuario li {
    list-style:none ;
    margin-bottom: 25px;
}

.grupo-form label{
    width: 200px;
    display: inline-block;
}
.formulario__validacion-estado{
    position: absolute;
    bottom: 10px;
    left: 68%;
    opacity: 0;
}
.formulario__input:focus{
    box-shadow: 0 0 15px #0AB4FD;
}
.formulario__input-error{
    display: none;
}
.formulario__grupo-input{
    position: relative;
}
.contenedor_boton{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.boton{
    input{
        background-color:#0AB4FD ;
        text-align: center;
        color: white;
        font-size: 30px;
        padding: 10px 35px;
        border-radius: 25px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    input:hover{
        background-color: #0289c3;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
        cursor: pointer;
    }
}
/*css llamado por el js*/
.formulario__input-error-activo{
    display: block;
}
.formulario__grupo-btn-enviar,
.formulario__mensaje_perfil_usuario{
    text-align: center;
    font-size: 20px;
}
.formulario__mensaje_perfil_usuario{
    background-color: red;
    padding: 15px;
    border-radius: 25px;
    margin: 0 40%;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__mensaje-exito{
    color: rgb(6, 164, 6);
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}

/*-----------Validacion-----------*/
.formulario__grupo-correcto .formulario__validacion-estado{
    color: green;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid red;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: red;
    opacity: 1;
}


/*contenido del footer*/
.footer {
    margin-top: 25px;
    background-color: #00AEEF;
    padding: 20px;
}

.footer-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-izq, .footer-der {
    color: white;
}

.footer-titulo {
    font-size: 18px;
    text-transform: lowercase;
}

.footer-centro a {
    margin: 0 10px;
    text-decoration: none;

}

.footer-centro i {
    font-size: 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;

}

.footer-der ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.footer-der li {
    color: white;
    text-transform: lowercase;
}

@media (max-width: 800px) {
    .footer-contenedor {
        flex-direction: column;
        text-align: center;
    }

    .footer-centro {
        margin: 10px 0;
    }

    .footer-der ul {
        padding: 0;
    }
    .botones_menu_principal{
        padding: 0px;
    }
    .subcontenido_home_countainer{
        display: block;
    }
    .subcontenido_home_texto{
       width: 95%; 
    }
    .img_subcontenido_home{
        width: 9%;
    }
    .foto_y_titulos{
        padding-top: 10px;
        display: block;
        text-align: center;
    }
}
@media (max-width: 800px) {
    .menu_principal {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
    }
    
    .logo_header {
        flex: 1 0 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .imagen {
        margin-left: 0;
    }
    
    .opciones {
        justify-content: center;
    }
    
    .opciones2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}