
body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.tituloServiciosPrincipal {
    background-color: #0AB4FD;
    color: black;
    padding: 20px;
    text-align: center;
}

#serviciosContenedor{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: inline-block;
    margin: 0 auto;
    max-width: 1200px;

}

.servicio{
    background-color: #D9D9D9;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: #D9D9D9;
    text-align: center;
}
.servicio h2 {
    font-size: 18px;
    
}   
.servicio p {
    font-size: 16px;
}
.descrip{
    opacity: 0;
    transition: opacity .2s  ease-in-out .6s;
}
.servicio:hover .descrip{
    opacity:1;    
}

@media (max-width: 800px) {
    #serviciosContenedor {
        flex-direction: column;
        width: 90%;
    }
}

