body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container_avisos {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #0AB4FD;
}
.aviso {
    background: #D9D9D9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border-left: 5px solid #0AB4FD;
}
.aviso h2 {
    margin: 0;
    font-size: 18px;
    color: #0AB4FD;
}
.aviso p {
    margin: 5px 0 0;
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #0AB4FD;
}
.aviso {
    background: #e3f2fd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border-left: 5px solid #0AB4FD;
}
.aviso h2 {
    margin: 0;
    font-size: 18px;
    color: #0AB4FD;
}
.aviso p {
    margin: 5px 0 0;
    font-size: 14px;
}
